[Unit]
Description=Venture Connect Frontend
After=network.target

[Service]
WorkingDirectory=/root/deployments/venture-connect/frontend
ExecStart=/root/.nvm/versions/node/v20.19.3/bin/npx serve -s build
Restart=always
User=root
Environment=PATH=/usr/bin:/usr/local/bin

[Install]
WantedBy=multi-user.target
